In [4]:
import pandas as pd

In [6]:
PATH = "../FabSim3/results/dflee_myanmar_localhost_4/"

In [10]:
output = pd.read_csv(PATH + "out.csv")
output = output.drop(columns=["Day", "refugee_debt"])
output.head()
# pd.concat([output.iloc[:, :4], output.iloc[:, -6:]], axis=1)

,Date,Camp_1 sim,Camp_1 data,Camp_1 error,Camp_2 sim,Camp_2 data,Camp_2 error,Camp_3 sim,Camp_3 data,Camp_3 error,...,Temple_5 data,Temple_5 error,Temple_6 sim,Temple_6 data,Temple_6 error,Total error,refugees in camps (UNHCR),total refugees (simulation),raw UNHCR refugee count,refugees in camps (simulation)
0,2024-09-08,6,6,0.0,6,6,0.0,6,6,0.0,...,0,0.0,0,0,0.0,0.0,0,48,0,48
1,2024-09-09,6,6,0.0,6,6,0.0,6,6,0.0,...,0,0.0,0,0,0.0,0.0,0,48,0,48
2,2024-09-10,6,6,0.0,6,6,0.0,6,6,0.0,...,0,0.0,0,0,0.0,0.0,0,48,0,48
3,2024-09-11,6,6,0.0,6,6,0.0,6,6,0.0,...,0,0.0,0,0,0.0,0.0,0,48,0,48
4,2024-09-12,6,6,0.0,6,6,0.0,6,6,0.0,...,0,0.0,0,0,0.0,0.0,0,48,0,48

In [19]:
import pandas as pd


def filter_dataframe(df, location):
    location_cols = [f"{location} sim", f"{location} data", f"{location} error"]

    valid_location_cols = [col for col in location_cols if col in df.columns]

    if "Total error" in df.columns:
        extra_cols = df.columns[df.columns.get_loc("Total error") :].tolist()
    else:
        extra_cols = []

    columns_to_keep = ["Date"] + valid_location_cols + extra_cols

    return df[columns_to_keep]


df_filtered = filter_dataframe(output, "Camp_5")
df_filtered

,Date,Camp_5 sim,Camp_5 data,Camp_5 error,Total error,refugees in camps (UNHCR),total refugees (simulation),raw UNHCR refugee count,refugees in camps (simulation)
0,2024-09-08,6,6,0.0000,0.0,0,48,0,48
1,2024-09-09,6,6,0.0000,0.0,0,48,0,48
2,2024-09-10,6,6,0.0000,0.0,0,48,0,48
3,2024-09-11,6,6,0.0000,0.0,0,48,0,48
4,2024-09-12,6,6,0.0000,0.0,0,48,0,48
5,2024-09-13,4,6,0.3333,0.0,0,48,0,39
6,2024-09-14,0,6,1.0000,0.0,0,48,0,48
7,2024-09-15,0,6,1.0000,0.0,0,48,0,48
8,2024-09-16,0,6,1.0000,0.0,0,48,0,47
9,2024-09-17,0,6,1.0000,0.0,0,48,0,45
10,2024-09-18,0,6,1.0000,0.0,0,48,0,44
11,2024-09-19,0,6,1.0000,0.0,0,48,0,43
12,2024-09-20,0,6,1.0000,0.0,0,48,0,43
13,2024-09-21,0,6,1.0000,0.0,0,48,0,44
14,2024-09-22,0,6,1.0000,0.0,0,48,0,46
15,2024-09-23,0,6,1.0000,0.0,0,48,0,46
16,2024-09-24,0,6,1.0000,0.0,0,48,0,46
17,2024-09-25,0,6,1.0000,0.0,0,48,0,46
18,2024-09-26,0,6,1.0000,0.0,0,48,0,46
19,2024-09-27,0,6,1.0000,0.0,0,48,0,47